.m-choose-icon-dialog-body-height {
  .el-dialog__body {
    max-height: 400px;
    overflow-y: scroll;
  }
}
.list-tabs__item {
  .el-tabs__nav {
    width: 100%;
    display: flex;
  }
  .el-tabs__item {
    flex: 1;
    text-align: center;
  }
}